azure-cognitiveservices-speech==1.31.0
gpiozero==1.6.2
langchain==0.0.264
numpy==1.25.2
openai==0.27.8
Pillow==10.0.0
python-periphery==2.4.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.0.0
responses==0.12.1
pydub==0.25.1
gpiod
#pigpio==1.78
tiktoken==0.5.1
